<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8"/>
    <title>Civilian {{ userId }} </title>
</head>
<body data-userId="{{ userId }}">
    <h1>Hello Civilian {{ userId }}</h1>

    <h4 id="notification">
        <!-- Some info will be displayed here-->
    </h4>


    <button onclick="requestForHelp()">Request for help</button>

    <div id="map">
        <!-- We will load a map here later-->
    </div>

    <!--Load JavaScripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src ="https://unpkg.com/axios/dist/axios.min.js" ></script>

    <script type="text/javascript">
        const socket = io()
        // Get the user's ID from the HTML tag
        const userId = document.querySelector("body").getAttribute('data-userId');
        
        socket.emit("join",{userId:userId});

        let requestDetails = {};
        let copDetails = {};
        let map,marker;

        requestDetails={
            civilianId:userId,
            location:{
                address: "Indiranagar, Bengaluru, Karnataka 560038, India",
                latitude: 12.9718915,
                longitude: 77.64115449999997
            }
        }

        function requestForHelp(){
            socket.emit("request-for-help",requestDetails)
        }

        socket.on("request-accepted",(eventData)=>{
            copDetails = eventData;
            document.getElementById("notification").innerHTML=
            `${copDetails.displayName} is near ${copDetails.location.address} and will be arriving at your location shortly.\nyou can contact their mobile at ${copDetails.phone}.`

        })
    </script>
</body>
</html>
