<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8"/>
    <title>Officer {{ userId }} </title>
</head>
<body data-userId="{{ userId }}">
    <h1>Hello Officer {{ userId }}</h1>

    <h2>Profile: </h2>
    <div id="copDetails"></div>

    <h4 id="notification"> Waiting for requests...</h4>

    <div id="map">
        <!-- We will load a map here later-->
    </div>

    <!--Load JavaScripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src ="https://unpkg.com/axios/dist/axios.min.js" ></script>

    <script type="text/javascript">
        const socket = io()
        // Get the user's ID from the HTML tag
        const userId = document.body.getAttribute("data-userId");
        socket.emit("join",{userId:userId});
        
        let requestDetails = {};
        let copDetails = {};
        let map,marker;

        document.addEventListener('DOMContentLoaded', function () {
            axios.get(`/cops/info?userId=${userId}`)
            .then((response) => {
                copDetails = response.data.copDetails;
                copDetails.location = {
                    address: copDetails.location.address,
                    longitude: copDetails.location.coordinates[0],
                    latitude: copDetails.location.coordinates[1],
                    }
                document.getElementById("copDetails").innerHTML=
                `Name:${copDetails.displayName}
                 Address:${copDetails.location.address}`;
            }).catch((err)=>{
                console.log(err);
            });
        });
        
        socket.on('request-for-help',(eventData)=>{
            requestDetails=eventData;
            document.getElementById("notification").innerHTML=
            `Civilian ${eventData.civilianId} is being attacked and needs help!
             The location ${requestDetails.location.address}`;
        })
    </script>
</body>
</html>
